<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Reservas por espacios</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

	<!-- Page Heading -->
	<div class="row">
	    <div class="col-md-12">
	        <h2 class="page-header text-center">
	        <div class="pull-left">
	        	<a th:href="@{/perfil/editar}" style="color:#333;"><i class="zmdi zmdi-edit" title="Editar Perfil"></i></a>
	        </div>
	            Mi Perfil
	        </h2>
	    </div>
	</div>
	<!-- /.row -->
	
	<div class="row">
	    <div class="col-md-6 col-md-offset-3 text-center">
	        <img class="img-circle" th:src="@{${User.imagen.attachmentUrl}}" width="150" height="150"/>
	        <h3 th:text="${#strings.toUpperCase(User.username)}"></h3>
	        <em class="text-muted" th:text="${User.email}"></em>
	        <hr/>
	        <i class="fa fa-building fa-2x"> </i>
		    <h4 th:text="${User.facultad.nombreFacultad}"></h4>
			<p class="small text-muted" th:text="${User.facultad.webFacultad}"></p>    
	    </div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container-fluid -->


 <footer>
  <div class="row">
       <div class="div-footer text-center">
          <i class="fa fa-copyright"></i> UCM Reservas - 2016
       </div>
  </div>
</footer>
                   
</body>
</html>