<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
        th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
        th:href="@{/webjars/material-design-iconic-font/2.2.0/dist/css/material-design-iconic-font.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
	<title>UCM RESERVAS - Nuevo usuario</title>
    <script 
        src="//code.jquery.com/jquery-2.1.4.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
	
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Logotipo -->
            <div class="navbar-header">               
                <div class="navbar-brand">
                    <a> <img class="img-circle" src="img/ucm-ws.png" width="30" height="30"/> UCM Reservas</a>
                </div>      
            </div>    
            <!-- /.navbar-collapse -->
        </nav>
        
        <div class="container-fluid "> 
			
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
				
				  <h2 class=" page-header text-center">Usuario</h2>
				  
				 <!-- Mensaje de error -->
					<div class="row" th:if="${registroError}">
						<div class="col-md-12">
							<div class="alert alert-danger" role="alert">
						        <div class="media">	
						       		 <button type="button" class="close" data-dismiss="alert" aria-label="Close">			 
									  <i class="zmdi zmdi-close"> </i>
									 </button>	 
								  <div class="media-body">		
								    <p class="text-muted" style="margin-bottom:5px;" th:inline="text" >
								    	Lo sentimos. Ya existe un usuario con ese username o email.
								    </p>
								  </div>
								</div>	
						    </div>
						</div>
					</div>
				
			         <form role="form" action="#" th:object="${User}" th:action="@{/registroUser}" method="post">
			        	<!-- Usuario -->
			        	<div class="form-group">
			                <label>Usuario</label>
			                <div class="input-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-accounts-alt"></i></span>
                                  <input name="username" id="idNombre" type="text" class="form-control" placeholder="Nombre de usuario"/>
                            </div>
			            </div>
			            <!-- Email -->
			            <div class="form-group">
			                <label>Email</label>
			                 <div class="input-group">
                                 <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                 <input name="email" id="idEmail" type="text" class="form-control" placeholder="Introduce tu email"/>
                              </div>
			            </div>
			            <!-- Contraseña -->
			            <div class="form-group">
			                <label>Contraseña</label>
			                  <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                  <input name="password" id="idPassword" type="password" class="form-control" placeholder="Contraseña"/>
                                </div> 
			            </div>
			            
			            <div class="row text-center">
			            <button type="submit" id="enlaceGuardar" class="btn-normal"> CREAR </button>
			            </div>
			        </form>
			        
<!-- 			        <hr/> -->
<!-- 			         <div class="text-center">    -->
<!--                          <a th:href="@{'/login'}"><button type="button" class="btn-normal">Login</button></a>                      -->
<!--                      </div> -->
			         
			    </div>
			</div>
			<!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        
           <footer>
            <div class="row">
                 <div class="div-footer text-center">
                    <i class="fa fa-copyright"></i> UCM Reservas - 2016
                 </div>
            </div>
          </footer>
</body>
</html>