<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Reservas por espacios</title>
</head>
<body>

            <div class="container-fluid" th:fragment="contenido">
<!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header text-center">
            <small>Encuentra rápidamente lo que buscas.</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12 jumbotron" style="border-radius:0px;">
         <form class="form-horizontal" role="form">
          
          <div class="row">
                <div class="col-md-4">               
                    <div class="form-group">
                        <label for="ejemplo_1" class="col-md-2 control-label">Edificio:</label>
                        <div class="col-md-10">
                            <select id="selecEdificios" class="form-control">
                              <option th:each="e : ${Edificios}"
                              		  th:value="${e.id}"
                              		  th:text="${e.nombreEdificio}">
                              </option>                             
                            </select>    
                        </div>
                     </div>
                </div>

                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Desde:</label>
                        <div class="col-md-9">
                         <div class='input-group date' >
                      <input id='datetimepicker1' type='text' class="form-control" th:readonly="readonly"/>
                      <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                      </span>
                   </div>
                         </div>
                   </div>
                </div>

                 <div class="col-md-4">
                    <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Hasta:</label>
                        <div class="col-md-9">
                           <div class='input-group date' >
                              <input id='datetimepicker2' type='text' class="form-control" th:readonly="readonly" />
                              <span class="input-group-addon">
                                  <span class="fa fa-calendar"></span>
                              </span>
                           </div>
                         </div>
                   </div>
                </div>
            </div>

            <div class="row">                  
                <div class="col-md-12 text-right">
                   <button id="filtrarBusqueda" type="button" class="btn-normal">BUSCAR <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
              
         </form>
    </div>                   
</div>
<!-- /.row -->

 <div class="row">
<!-- aqui va el resultado de la busqueda-->
     <div class="col-md-12">
        <h1 class="page-header text-center">
            Resultado<small> de tu búsqueda</small>
        </h1>
        <div class="row">
        	<div id="resultContent" class="col-xs-12">
        	
        	</div>
        </div>
        
    </div>   
</div>
<!-- /.row -->

<script th:inline="javascript">
 	var baseURL = /*[[@{/}]]*/ '/';
</script>
<script src="../../js/reservas-fecha.js" th:src="@{/js/reservas-fecha.js}"></script>


        </div>
        <!-- /.container-fluid -->

        
           <footer>
            <div class="row">
                 <div class="div-footer text-center">
                    <i class="fa fa-copyright"></i> UCM Reservas - 2016
                 </div>
            </div>
          </footer>
                   
</body>
</html>