<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Administrar</title>
    
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
    	<div class="col-md-12">
        	<h1 class="page-header text-center">
            	Gestionar
        	</h1>
    	</div>
	</div>

	<div class="row">

		<div class="col-md-4 text-center">
			<a th:href="@{/gestor/administrar/usuarios}">
				<div class="panel-admin media">
			  		<div class="media-left">		    
			      		<i class="zmdi zmdi-accounts-alt zmdi-hc-3x"></i>		   
			  		</div>
			  		<div class="media-body text-right">		  	
			    		<h3 class="media-heading">Usuarios</h3>
			    		<p style="margin-bottom: 0px;">Gestión de</p>
			  		</div>
				</div>
			</a>
		</div>
	
		<div class="col-md-4">
			<a th:href="@{/gestor/administrar/espacios}">
				<div class="panel-admin media">
			  		<div class="media-left">
			      		<i class="zmdi zmdi-crop-square zmdi-hc-3x"></i>
			  		</div>
			  		<div class="media-body text-right">		  	
			    		<h3 class="media-heading">Espacios</h3>
			    		<p style="margin-bottom: 0px;">Gestión de</p>
			  		</div>
				</div>
			</a>
		</div>
	
		<div class="col-md-4">
	  		<a th:href="@{/gestor/administrar/edificios}">
				<div class="panel-admin media">
		  			<div class="media-left">
		      			<i class="fa fa-building fa-3x"></i>
		  			</div>
		  			<div class="media-body text-right">		  	
		    			<h3 class="media-heading">Edificios</h3>
		    			<p style="margin-bottom: 0px;">Gestión de</p>
		  			</div>
				</div>
	  		</a>
		</div>
	
		<div class="col-md-4">
	  		<a th:href="@{/gestor/administrar/reservas}">
				<div class="panel-admin media">
		  			<div class="media-left">
		      			<i class="zmdi zmdi-book zmdi-hc-3x"></i>
		  			</div>
		  			<div class="media-body text-right">		  	
		    			<h3 class="media-heading">Reservas</h3>
		    			<p style="margin-bottom: 0px;">Gestión de</p>
		  			</div>
				</div>
	  		</a>
		</div>
	</div>
</div>
</body>
</html>