<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>

	<title>UCM RESERVAS - Añadir edificio</title>
    
</head>
<body>

<div class="container-fluid" th:fragment="contenido">
        
        <!-- Page Heading -->
			<div class="row">
			    <div class="col-md-12">
			        <h2 class="page-header text-center">
			           Edificio
			        </h2>
			    </div>
			</div>
			<!-- /.row -->
        
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                         
                         <!-- Nombre edificio -->
                         	<div class="form-group">
                                <label>Nombre</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                  <input id="nombreEdificio" name="nombreEdificio" type="text" class="form-control" placeholder="Nombre de edificio"/>
                                </div>
                            </div>
                            <!-- Direccion del edificio -->
                            <div class="form-group">
                                <label>Dirección</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-map"></i></span>
                                  <input id="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion del edificio"/>
                                </div>
                            </div>
                            
<!--                             <div class="form-group"> -->
<!-- 								<label>Selecciona la imagen:</label> -->
<!-- 								<div class="input-group">  -->
<!-- 									<span class="input-group-addon"><i class="zmdi zmdi-camera-alt"></i></span> -->
<!-- 									<input type="file" class="form-control" id="idAttachment" /> -->
<!-- 								</div> -->
<!-- 							</div> -->
                            
                            <div class="form-group">
                                <label>Facultad</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-balance"></i></span>
                                  <input title="Facultad" th:value="${User.facultad.nombreFacultad}" th:readonly="readonly" type="text" class="form-control"/>
                                </div>
                            </div>
                            
                            
                                                        
                            <div class="text-center">
                                 <button type="button" id="enlaceCrear" class="btn-normal">CREAR</button>
                            </div>

                        
                    </div>
                
                </div>
            <!-- /.row -->
            
            <script th:inline="javascript">
			var baseURL = /*[[@{/}]]*/ '/';
			var idFacultad = /*[[${User.facultad.id}]]*/ '1';
			</script>
			<script src="../../js/nuevoEdificioGestor.js" th:src="@{/js/nuevoEdificioGestor.js}"></script>
            
            
            </div>
        <!-- /.container-fluid -->

        
           <footer>
            <div class="row">
                 <div class="div-footer text-center">
                    <i class="fa fa-copyright"></i> UCM Reservas - 2016
                 </div>
            </div>
          </footer>

</body>
</html>