<!--

    This file is part of reservas Maven Webapp.

    reservas Maven Webapp is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    reservas Maven Webapp is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with reservas Maven Webapp.  If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Añadir espacio</title>
    
</head>
<body>

	<div class="container-fluid" th:fragment="contenido">
        
         <!-- Page Heading -->
			<div class="row">
			    <div class="col-md-12">
			        <h2 class="page-header text-center">
			           Espacio
			        </h2>
			    </div>
			</div>
		<!-- /.row -->
		
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                   
                        
                         	<div class="form-group">
                                <label for="ejemplo_email_1">Nombre</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="zmdi zmdi-crop-square"></i></span>
                                  <input id="nombre" name="nombreEspacio" type="text" class="form-control" placeholder="Nombre del espacio"/>
                                </div>
                            </div>
                           
                            
                            <div class="form-group">
                                <label for="ejemplo_email_1">Tipo espacio</label>
                                    <select id="tipoEspacio" name="tipoEspacio" class="form-control">
							          
							          <option th:value="Aula">Aula</option>
							          <option th:value="Sala">Sala</option>
							          <option th:value="Laboratorio">Laboratorio</option>
							        </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="ejemplo_email_1">Edificio</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                  <select id="idEdif" class="form-control">
                                  	<option th:each="e : ${edificiosFacultad}"
                                  			th:value="${e.id}"
                                  			th:text="${e.nombreEdificio}">
                                  	</option>
                                  </select>
<!--                                   <input id="idEdif" name="capacidad" type="text" class="form-control" placeholder="Introduce el nombre del edificio"/> -->
<!--                                 <input type="hidden" id="hEdif" th:value="1"/> -->
                                </div>
                            </div>

                            <div class="text-center">
                                 <button id="enlaceCrear" type="button" class="btn-normal">CREAR</button>
                            </div>

                        
                    
                	</div>
                </div>
            <!-- /.row -->
            
            <script th:inline="javascript">
			var baseURL = /*[[@{/}]]*/ '/';
			</script>
			<script src="../../js/nuevoEspacioGestor.js" th:src="@{/js/nuevoEspacioGestor.js}"></script>
            
    
        </div>
        <!-- /.container-fluid -->

        
           <footer>
            <div class="row">
                 <div class="div-footer text-center">
                    <i class="fa fa-copyright"></i> UCM Reservas - 2016
                 </div>
            </div>
          </footer>
</body>
</html>